body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    font-size: 16px;
}

.container {
    display: flex;
    gap: 1em;
}

.data-container {
    display: flex;
    gap: 1em;
}

.data-container .buttons {
    display: flex;
    justify-content: space-between;
}

.results-container {
    display: flex;
    flex-direction: column;
}


.students, .rooms {
    display: flex;
    flex-direction: column;
}


